# This configuration file follows the YAML format (www.yaml.org)
# Please note that the indentation used is 4 spaces.

# Input:
x_train: data/features/wmt2012_qe_baseline/training.qe.baseline.tsv 
y_train: data/features/wmt2012_qe_baseline/training.effort
x_test: data/features/wmt2012_qe_baseline/test.qe.baseline.tsv
y_test: data/features/wmt2012_qe_baseline/test.effort

separator: "\t"

# Learning algorithm configurations:
learning:
    method: CRF
    crfsuite: /export/tools/crfsuite/bin/crfsuite
    
    # Files in which to save the resulting data:
    temp_input: temp_input.txt
    model_file: model_file.txt
    output_file: output_file.txt

    # Learning algorithm parameters:
    algorithm: arow
    parameters:
        variance: 1
